
.mtj.tmp/
*.DS_Store
*.iml
/.idea/*
*.class

.classpath
*/target/*
/target/*

*.jar
*.war
*.ear

.project
*/.settings/*
/.settings/*
/bower_componentsa
.externalToolBuilders

/target/
/bin/

nohup.out
